.App {
  text-align: center;
}





.App-header {
  background-color: #17a6a1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.profilePhoto{

  width: auto;
  height: 300px;
  border-radius: 60px;
  filter: drop-shadow(1px -2px 10px #ffffff);
}

.aboutMe{


  background-color:#59C1BD;
  border-radius: 60px;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  transition: .8s ease;

}

.aboutMe:hover{
  filter: drop-shadow(1px -2px 10px #33f3b3);

  transition: .8s ease;
}


.keySkills{


  background-color:#85bea9;
  border-radius: 60px;
  margin-left: 10%;
  margin-right: 10%;
  min-width: 80%;
  
  
  transition: .8s ease;

}
.keySkills:hover{
  filter: drop-shadow(1px -2px 10px #33f3b3);

  transition: .8s ease;
}

.dev{


  background-color: #87a097;
  border-radius: 60px;
  margin-left: 10%;
  margin-right: 10%;
  min-width: 80%;

  transition: .8s ease;
  

}

.dev:hover{
  filter: drop-shadow(1px -2px 10px #33f3b3);

  transition: .8s ease;
}

.contactIcon{


  height: 5%;
  width: 5%;
  margin-left: 1%;
  margin-right: 1%;
  transition: .8s ease;

}

.contactIcon:hover{
  filter: drop-shadow(1px -2px 10px #000000);

  transition: .8s ease;
  }

@media screen and (max-width: 992px) {
.contactIcon{height: 10%;
  width: 10%;
  margin-left: 1%;
  margin-right: 1%;}

}

