.App {
  text-align: center;
}





.App-header {
  background-color: #0D4C92;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.profilePhoto{

  width: auto;
  height: 300px;
  border-radius: 60px;
}

.aboutMe{


  background-color:#59C1BD;
  border-radius: 60px;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;

}

.keySkills{


  background-color:#85bea9;
  border-radius: 60px;
  margin-left: 10%;
  margin-right: 10%;
  min-width: 80%;
  
  
  

}

.dev{


  background-color: #87a097;
  border-radius: 60px;
  margin-left: 10%;
  margin-right: 10%;
  min-width: 80%;

  
  

}

.contactIcon{


  height: 5%;
  width: 5%;
  margin-left: 1%;
  margin-right: 1%;

}

@media screen and (max-width: 992px) {
.contactIcon{height: 10%;
  width: 10%;
  margin-left: 1%;
  margin-right: 1%;}

}

